<a href="https://colab.research.google.com/github/mariola5/Heart_Disease/blob/main/Heart_Disease_UCI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Heart Disease UCI - Przewidywanie choroby serca

# Import bibliotek

In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

#Pobranie danych

In [5]:
df = pd.read_csv("/content/heart.csv")

#Informacje o danych

### Opis wybranych zmiennych

- cp: chest pain type (4 wartości)
- trestbps: spoczynkowe ciśnienie krwi
- chol: cholesterol
- fbs: cukier we krwi na czczo
- restecg: spoczynkowe EKG
- thalach: maksymalne tetno
- exang: duszność spowodowana wysiłkiem ('yes' = 1, 'no' = 0)

In [6]:
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [7]:
df.describe().apply(lambda x: round(x, 2))

          age     sex      cp  trestbps  ...   slope      ca    thal  target
count  303.00  303.00  303.00    303.00  ...  303.00  303.00  303.00  303.00
mean    54.37    0.68    0.97    131.62  ...    1.40    0.73    2.31    0.54
std      9.08    0.47    1.03     17.54  ...    0.62    1.02    0.61    0.50
min     29.00    0.00    0.00     94.00  ...    0.00    0.00    0.00    0.00
25%     47.50    0.00    0.00    120.00  ...    1.00    0.00    2.00    0.00
50%     55.00    1.00    1.00    130.00  ...    1.00    0.00    2.00    1.00
75%     61.00    1.00    2.00    140.00  ...    2.00    1.00    3.00    1.00
max     77.00    1.00    3.00    200.00  ...    2.00    4.00    3.00    1.00

[8 rows x 14 columns]